.dashboard{
  margin-left:13%;
}
.column{
  background:#d5f6b9;
  margin:20px;
  -moz-border-radius:10px;  /* for Firefox */
  -webkit-border-radius:10px; /* for Webkit-Browsers */
  border-radius:10px; /* regular */
  opacity:0.7;
  text-align:center;
  font-style: normal;
}
#general{
  background:orange;
}
#grid{
  grid-row-gap:70px;
}
.typeInfo{
  outline:none;
}/* Style the links inside the navigation bar */
.typeInfo button{
    outline:0;
    background-color: transparent;
    font-weight:800;
    color:black;
    text-align: center;
    padding: 0.5em 0em;
    text-decoration: none;
    font-size: 17px;
    margin:20px;
    border:none;
    border-radius:5px;
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word;
}
.typeInfo button:hover {
    color: black;
    cursor: pointer;
}
.typeInfo button:active{
  outline:0;
  border:none;
  -moz-outline-style:none;
}
#button{
  margin:10px;
  background:black;
  color:white;
  border-radius:5px;
}