.container{
  margin:20px;
  text-align:center;
  display:block;

}
.subject{
  width:50%;

  margin-left:30%;
  margin-right:30%;

}


 input[type=submit] {
    background-color:black;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 10px 20px;
    cursor: pointer;
    border-radius:5px;
}
