.container{

  margin:20px;
  text-align:center;
  display:block;

}
.subject{

  align-text:center;
  width:50%;
  margin-left: 25%;
  margin-right: 25%;
  }

  .file{
    width:50%;
    border:none;
    color:black;
    padding: 8px 32px;
    text-decoration: none;
    margin: 0 auto;
    cursor: pointer;
    border-radius:10px;


  }


  input[type=submit] {
   background-color:#d5f6b9;
   border: none;
   color:black;
   padding: 8px 32px;
   text-decoration: none;
   margin: 10px 20px;
   cursor: pointer;
   border-radius:10px;
   font-weight:bold;
  }
  .text{
    font-size:17px;
  }
