#worksheetType{
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display:block;
}

#title-div {
	text-align: center;
	margin-top: 30px;
}

#title-text {
	font-size: 60px;
	margin-top: 10px;
	color: orange;
	font-family: 'Raleway', sans-serif;
}

.show-display {
	display: block !important;
}

.hide-display {
	display: none !important;
}

.subject {
	margin-left:auto !important;
	margin-right:auto !important;
	width:50% !important;
}
.chapter {
	margin-left:auto !important;
	margin-right:auto !important;
	width:50% !important;
}
.qtype{
	margin-left:auto !important;
	margin-right:auto !important;
	width:50% !important;
	padding: 0px !important;
	border: 0px !important;
}

.no_of_questions{
	margin-left:auto;
	margin-right:auto;
	font-size:20px;
	min-width: 70px;
	height: 30px;
}

#stud_name{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

#submit{
	margin-left:auto;
	margin-right:auto;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	font-weight:bold;
	margin-bottom:1%;
	display: block;
}

#randomize{
	float:left;
	margin-left:20%;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:1%;
	font-size:12px;
}

#segregate{
	float:right;
	margin-right:20%;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:1%;
	font-size:12px;
}

#upload{
	margin-left:auto;
	margin-right:auto;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:1%;
	font-size:12px;
	display: block;
	font-weight: bold;
}

ul{
	list-style:none;
	margin: 0;
	padding: 0;
	font-size:20px;
	display:table;
	width:100%;
}

#nav{
	margin-top:15px;
	background-color:#AAADAC;
}

#logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}

ul li{
	text-align:center;
	display:table-cell;
	width:20%;
}

ul li a{
	text-decoration:none;
	color:white;
	line-height:40px;
	font-size:16px;
	font-family: 'Raleway', sans-serif;
}

ul li a:hover{
	text-decoration:none;
	color:white;
}

input[type=number] {
	-moz-appearance: textfield;
	border-radius:5px;
	border: 1px solid #ebebe0;
	font-size:13px;
	text-align: center;
	width: 100%;
}
::-webkit-input-placeholder{
	font-size:13px;
	color:#c2c2a3;
	text-align: center !important;
}
::-moz-placeholder{
	font-size: 13px;
	color:#c2c2a3;
	text-align: center !important;
}
:-ms-input-placeholder{
	font-size: 13px;
	color:#c2c2a3;
	text-align: center;

}
::placeholder{
	font-size:13px;
	color:#c2c2a3;
	text-align: center !important;
}

.workgen-title {
	color: #898d8c;
	text-align: center;
	margin-top:30px !important;
	margin-bottom: 0px !important;
}

.question-type-div {
	text-align: center;
}

.question-type-div > input {
	margin-right: 10px !important;
}

#random-setting {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

input[type="file"] {
	text-align:center;
}
#fileinput{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display:block;
	margin-bottom:2%;
}