html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#subject {
	display:none;

}

#chapter {
	display:none;

}

#qtype{
	display:none;

}

#noOfQ{
	display:none;
}

#stud_name{
	display:none;

}

#submit{
	display:none;
}

#randomize{
	display:none;
	float:left;
}

#segregate{
	display:none;
	float:right;
}

#upload{
	display:none;
}
