html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

#subject {
	display:none;

}

#chapter {
	display:none;

}

#qtype{
	display:none;

}

#noOfQ{
	display:none;
}

#stud_name{
	display:none;

}

#submit{
	display:none;
}

#randomize{
	display:none;
	float:left;
}

#segregate{
	display:none;
	float:right;
}

#upload{
	display:none;
}

ul
{
list-style:none;
margin: 0;
padding: 0;
font-size:20px;
}

#nav
{
    position:absolute;
    width:100%;
    top:0px;
    right:0px;
    background-color:grey;
}

#logo
{
    position:absolute;
    top:0px;
    left:0px;
}

ul li
{
    float:left;
    width:216px;
    height:60px;
    text-align:center;
}

ul li a
{
    text-decoration:none;
    color:black;
    line-height:60px;
}

ul li a:hover
{
    text-decoration:none;
    color:black;
}

ul li:hover
{
    background-color:brown;
}
