#worksheetType{
	margin-top:2%;
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display:block;
}
#subjectTest {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display: block;
}
#subjectGeneric {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display: block;
}
#subjectCustomized {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display: block;
}
#chapterTest {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#chapterGeneric {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#chapterCustomized {
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#qtypeTest{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#qtypeGeneric{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#qtypeCustomized{
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
#noOfQ1Customized,#noOfQ2Customized,#noOfQ3Customized,#noOfQ4Customized,#noOfQ5Customized,#noOfQ1Generic,#noOfQ2Generic,#noOfQ3Generic,#noOfQ4Generic,#noOfQ5Generic{
	width:15%;
	margin-left:2%;
	font-size:20px;
}
#stud_name{
	margin-left:auto;
	margin-right:auto;
	width:50%;

}
#submit{
	margin-left:auto;
	margin-right:auto;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	font-weight:bold;
	margin-bottom:1%;
	display: block;
}
#randomize{
	float:left;
	margin-left:20%;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:1%;
	font-size:12px;
}
#segregate{
	float:right;
	margin-right:20%;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:1%;
	font-size:12px;
}
#upload{
	margin-left:auto;
	margin-right:auto;
	background-color:#d5f6b9;
	border:none;
	color:black;
	padding: 8px 32px;
	text-decoration:none;
	cursor:pointer;
	border-radius:10px;
	margin-bottom:1%;
	font-size:12px;
	display: block;
	font-weight: bold;
	width:10%;
	text-align:center;
}
ul{
	list-style:none;
	margin: 0;
	padding: 0;
	font-size:20px;
	display:table;
	width:100%;
}
#nav{
	margin-top:30px;
	background-color:#AAADAC;
}
#logo{
	display:block;
	margin-left:auto;
	margin-right:auto;
	width:50%;
}
ul li{
	text-align:center;
	display:table-cell;
	width:20%;
}
ul li a{
	text-decoration:none;
	color:white;
	line-height:40px;
	font-size:15px;
	font-family: 'Baloo Bhai', cursive;	
}
ul li a:hover{
	text-decoration:none;
	color:white;
}
input[type=number] {
	-moz-appearance: textfield;
	border-radius:5px;
	border: 1px solid #ebebe0;
	font-size:13px;
	width:15%;
	padding:10px;
	margin-right:10px;
}
input[type="file"] {
	text-align:center;
}
#fileinput{
	margin-left:auto;
	margin-right:auto;
	width:50%;
	display:block;
	margin-bottom:2%;
}
::-webkit-input-placeholder{
	font-size:13px;
	color:#c2c2a3;
}
::-moz-placeholder{
	font-size: 13px;
	color:#c2c2a3;
}
:-ms-input-placeholder{
	font-size: 13px;
	color:#c2c2a3;

}
::placeholder{
	font-size:13px;
	color:#c2c2a3;
}

.workgen-title {
	color: #898d8c;
	text-align: center;
	margin-top:30px;
	margin-bottom: 0px;
}

.question-type-div {
	text-align: center;
}

.question-type-div > input {
	margin-right: 10px;
}


#random_setting {
	display: block;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}
