{% extends "layout.html" %}

{% block title %}
Edit Chapters and Subject Splits
{% endblock %}
{% block li %}
 {% if user.is_authenticated %}
  <li><a href="/mentor_view">Mentor Dashboard</a></li>
  {% else %}
  <li><a href="/login">Login</a></li>
	{% endif %}
{% endblock %}
{% block student_view %}
	<br>
	<div id="paper-subject" class="ui selection dropdown subject show-display">
		<input name="subject" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select Subject</div>
		<div class="menu">
			{% for element in data %}
			<div class="item" data-value="{{element}}">{{element}}</div>
			{% endfor %}
		</div>
	</div>
	<br>
	<div class="ui grid hide-display" id="chapter-operations">
			<div class="two wide column"></div>
			<div class="four wide column">
					<div id="paper-chapter" class="ui fluid multiple search selection dropdown">
							<input name="chapter" type="hidden">
							<i class="dropdown icon"></i>
							<div class="default text">Delete chapters</div>
							<div id="paper-chapter-options-parent" class="menu">
							</div>
					</div>
			</div>
			<div class="two wide column">
				<button id="delete-chapters-button" class="ui button">X</button>
			</div>
			<div class="four wide column">
					<div class="ui input">
							<input type="text" name="add-chapter-input" placeholder="Add Chapter">
					</div>
			</div>
			<div class="three wide column">
					<button id="add-chapter-button" class="ui button">+</button>
			</div>
	</div>

	<div class="ui grid" id="split-operations">
			<div class="four wide column"></div>
			<div class="five wide column">
					<div id="paper-subject-splits" class="ui fluid multiple search selection dropdown">
							<input name="subject-split-names" type="hidden">
							<i class="dropdown icon"></i>
							<div class="default text">Show Subject Splits</div>
							<div id="paper-subject-splits-options-parent" class="menu">
							</div>
					</div>
			</div>
			<div class="four wide column">
					<button id="display-splits-button" class="ui button">Display</button>
          <button id="download-tracker-button" class="ui button">Download Tracker</button>
			</div>
	</div>
	<h3 class="hide-display">Delete Subject Splits</h3>
		<table class="ui six column table hide-display" id="subject_splits">
			<thead>
				<tr><th>Name</th>
					  <th>Question Type</th>
					  <th>Question Weightage</th>
					   <th>Total Questions</th>
					   <th>Questions to Attempt</th>
					   <th></th>
				</tr></thead>
			<tbody>
			</tbody>
		  </table>	
	
	<br/>
	<br/>
	<div id="add-subject-split" class="hide-display">
	<div class="ui input" id="split-name">
			<input type="text" name="split-name" placeholder="Split Name">
	</div>
	<br/>
	<br/>
	<div id="question-weightage" class="ui selection dropdown">
		<input name="question-weightage" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select Question Weightage</div>
		<div class="menu">
			{% for element in question_weightage_choices %}
			<div class="item" data-value="{{element.0}}">{{element.1}}</div>
			{% endfor %}
		</div>
	</div>
	<br/>
	<br/>
	<div id="question-type" class="ui selection dropdown">
		<input name="question-type" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select Question Type</div>
		<div class="menu">
			{% for element in question_type_choices %}
			<div class="item" data-value="{{element.0}}">{{element.1}}</div>
			{% endfor %}
		</div>
	</div>
	<br/>
	<br/>
	<div class="ui input" id="total-questions">
		<input type="number" name="total-questions" placeholder="Total Questions">
	</div>
	<div class="ui input" id="questions-to-attempt">
			<input type="number" name="questions-to-attempt" placeholder="Questions to Attempt">
	</div>
	<button id="add-split-button" class="ui button">Add subject split</button>
	</div>
	<br/>
			{% endblock %}
