{% extends "layout.html" %}
{% block title %}
WorkGen
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
{% endblock %}
{% block student_view %}
<br>
<br>
<br>
 <div class="dashboard">
   <div class="ui grid" id="general-container">
      <div class="thirteen wide column" id="general">
      Tired of creating worksheets for your students?
      <br>
      <br>
      Try WorkGen - to generate automatic worksheets in seconds so you can spend more time planning lessons than creating assessments.
    </div>
    </div>
  <div class="ui grid">
    <div class="four wide column">
      <div class="button" id="test"><button onclick="set_paper_type('test')">Test Paper</button>
      <br>
      <br>
      A Test Paper is a worksheet in the format of the board question paper.Great for pre-board preparation and
      to practice all the question types. The fellow needs to choose which chapters to test.
      </div></div>
    <div class="four wide column" id="generic"><div class="button"><button onclick="set_paper_type('generic')">Generic Paper</button>
    <br>
    <br>
    A Generic Paper is designed as per the fellow requirements. You can choose the chapters
    and the number of questions of each type. Great for specific question type and differentiated practice.
    </div></div>
    <div class="four wide column" id="customized"><div class="button"><button onclick="set_paper_type('customized')">Customized Paper</button>
    <br>
    <br>
      A customized paper is generated based on the performance of each student. The fellow uploads the tracker of the class,
      and a separate worksheet is created for each student to practice at and just above their level.
      This is currently under development. </div>
   </div>
</div>
{% endblock %}
