{% extends "layout.html" %}
{% block title %}
WorkGen
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}"/>
{% endblock %}
{% block js %}
<script>
var flag1 = "{{ flag }}";
var pop1="{{pop}}";
if (flag1=='0'){
  alert(pop1);
}



var test=document.getElementById("test");

test.addEventListener('click',function(){
  $.ajax({
    url :'student_view',
    data :'test',
    method : "get",
    headers: { "X-CSRFToken": csrftoken,},
    success: function(response) {
      $(function(){
        new PNotify({
          title: 'Success!',
          type: 'success'
        });
      });
    },
  });
});


var generic=document.getElementById("generic");
test.addEventListener('click',function(){
  $.ajax({
    url :'student_view',
    data :'generic',
    method : "get",
    success: function(){
      console.log("success");
    }
  });
});

var customized = document.getElementById("customized");
test.addEventListener('click',function(){
  $.ajax({
    url :'student_view',
    data :'customized',
    method : "get",
    success: function(){
      console.log("success");
    }
  });
})
</script>
{% endblock %}
{% block login %}<li><a href="login">Login</a></li>{% endblock %}
{% block student_view %}
<br>
<br>
<br>
 <div class="dashboard">
   <div class="ui grid" >
      <div class="thirteen wide column" id="general">
      Tired of creating worksheets for your students?
      <br>
      <br>
      Try WorkGen - to generate automatic worksheets in seconds so you can spend more time planning lessons than creating assessments.

    </div>
    </div>
  <div class="ui grid">
    <div class="four wide column">
      <div class="button" id="test"><a href="student_view" class="button">Test Paper</a>
      <br>
      <br>
      A Test Paper is a worksheet in the format of the board question paper.Great for pre-board preparation and
      to practice all the question types. The fellow needs to choose which chapters to test.
      </div></div>
    <div class="four wide column" id="generic"><div class="button"><a href="student_view" class="button">Generic Paper</a>
    <br>
    <br>
    A Generic Paper is designed as per the fellow requirements. You can choose the chapters
    and the number of questions of each type. Great for specific question type and differentiated practice.

    </div></div>
    <div class="four wide column" id="customized"><div class="button"><a href="student_view" class="button">Customized Paper</a>
    <br>
    <br>
      A customized paper is generated based on the performance of each student. The fellow uploads the tracker of the class,
      and a separate worksheet is created for each student to practice at and just above their level.
      This is currently under development. </div>

  </div>
</div>
{% endblock %}
