<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    {% block css %}
     {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'student_view_style.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'pnotify.custom.min.css' %}"/>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.css"/>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    {% if WORKGEN_MODE == "dev" %}
      <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
    {% else %}
      <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    {% endif %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.js"></script>
    <script src="https://cdn.jsdelivr.net/g/filesaver.js"></script>
    <script type="text/javascript" src="{% static 'student_view.js' %}"></script>
    <script type="module" src="{% static 'question_upload_mentor.js' %}"></script>
	<script type="text/javascript" src="{% static 'pnotify.custom.min.js' %}"></script>
    <script>
        var csrftoken = "{{ csrf_token }}";
        var BASE_DIR = "http://localhost:8000";
    </script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131546255-1"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-131546255-1');
	</script>

</script>
{% block js %}{% endblock %}
</head>
<body>
    <div id="title-div">
    <span id="title-text">WorkGen</span>
    </div>
    <ul id="nav">
      {% if user.is_authenticated and "/mentor_view" != request.path %}
        <li><a href="/mentor_view">Dashboard</a></li>
      {% else %}
        <li><a href="/">Home</a></li>
      {% endif %}
        <li><a href="#">About Us</a></li>
        <li><a href="#">How it Works</a></li>
        <li><a href="contact">Contact Us</a></li>
        {% if user.is_authenticated %}
           <li><a href="/logout">Logout</a></li>
        {% else %}
           <li><a href="/login">Login</a></li>
        {% endif %}
    </ul>
    {% block student_view %}{% endblock %}
</body>
</html>
