{% extends "layout.html" %}
{% block title %}Mentor Log-In{% endblock %}
{% load static %}
{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}"/>
  {% endblock %}
  {% block login %}{% endblock %}
{% block student_view %}
<br>
<br>
<div class="form">
<div class="form-head"><h4>MENTOR LOG-IN</h4></div>
<br>
<br>
<form class="site-form" method="post" action="login?next={{next}}">
{% csrf_token %}


{{form.as_p}}
{% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
    {% endif %}
<input type="submit" value="Log In">
</form>
</div>
{% endblock %}
