
{% extends "layout.html" %}
{% block title %}
WorkGen
{% endblock %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'mentor_view_style.css' %}"/>
{% endblock %}
{% block js %}
<script>
  var flag1 = "{{ flag }}";
  var pop1="{{pop}}";
  if (flag1=='0'){
    alert(pop1);
  }
</script>
{% endblock %}
{% block li %}
  {% if user.is_authenticated %}
   <li><a href="/logout">Logout</a></li>
  {% else %}
   <li><a href="/login">Login</a></li>
  {% endif %}
{% endblock %}
{% block student_view %}
<br>
<br>
<br>
 <div class="dashboard">
  <div class="ui grid">
    <div class="three wide column"><div class="button"><a href="questions_upload" class="button">Upload Questions</a></div></div>
    <div class="three wide column"><div class="button"><a href="generated_documents" class="button">View Generated Paper</a></div></div>
    <div class="three wide column">3</div>
    <div class="three wide column">4</div>
  </div>
</div>
{% endblock %}
