{% extends "layout.html" %}

{% block title %}
Student View
{% endblock %}
{% block li %}
 {% if user.is_authenticated %}
  <li><a href="/mentor_view">Mentor Dashboard</a></li>
  {% else %}
  <li><a href="/login">Login</a></li>
	{% endif %}
{% endblock %}
{% block student_view %}
<!-- Select worksheet type -->
<div id="worksheetType" class="ui selection dropdown">
	<input name="worksheetType" type="hidden">
	<i class="dropdown icon"></i>
	<div class="default text">Select Worksheet Type</div>
	<div class="menu">
		<div class="item" data-value="test">Test Paper</div>
		<div class="item" data-value="generic">Generic Worksheet</div>
		<div class="item" data-value="customized">Customized Worksheet</div>
	</div>
</div>
<br>

<div id="test-div" style="display: none;">
	<div id="test-board" class="ui selection dropdown board show-display">
		<input name="board" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select board</div>
		<div class="menu">
			{% for element in data %}
			<div class="item" data-value="{{element}}">{{element}}</div>
			{% endfor %}
		</div>
	</div>
	<br>
  <div id="test-grade" class="ui selection dropdown grade hide-display">
    <input name="grade" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select grade</div>
    <div id="test-grade-options-parent" class="menu">
    </div>
  </div>
	<br>
  <div id="test-subject" class="ui selection dropdown subject hide-display">
    <input name="subject" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select subject</div>
    <div id="test-subject-options-parent" class="menu">
    </div>
  </div>
  <br>
	<div id="test-chapter" class="ui fluid multiple search selection dropdown chapter hide-display">
		<input name="chapter" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select chapter</div>
		<div id="test-chapter-options-parent" class="menu">
		</div>
	</div>
  <br>
  <div id="test-breakup" class="ui selection dropdown breakup hide-display">
    <input name="breakup" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select paper format</div>
    <div id="test-breakup-options-parent" class="menu">
    </div>
  </div>
  <br>
</div>

<div id="generic-div" style="display: none;">
  <div id="generic-board" class="ui selection dropdown board show-display">
    <input name="board" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select board</div>
    <div class="menu">
      {% for element in data %}
      <div class="item" data-value="{{element}}">{{element}}</div>
      {% endfor %}
    </div>
  </div>
  <br>
  <div id="generic-grade" class="ui selection dropdown grade hide-display">
    <input name="grade" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select grade</div>
    <div id="generic-grade-options-parent" class="menu">
    </div>
  </div>
  <br>
  <div id="generic-subject" class="ui selection dropdown subject hide-display">
    <input name="subject" type="hidden">
    <i class="dropdown icon"></i>
    <div class="default text">Select subject</div>
    <div id="generic-subject-options-parent" class="menu">
    </div>
  </div>
  <br>
	<div id="generic-chapter" class="ui fluid multiple search selection dropdown chapter hide-display">
		<input name="chapter" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select chapter</div>
		<div id="generic-chapter-options-parent" class="menu">
		</div>
	</div>
	<br>
	<div id="generic-qtype" class="ui fluid multiple search selection dropdown qtype hide-display">
		<table class="ui celled table">
			<thead>
				<tr><th>Type of Question</th>
					<th>Number of Questions</th>
				</tr></thead>
				<tbody>
					<tr id="generic-row1">
						<td>1A (One Mark Textual)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ1a" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>
						</td>
					</tr>
					<tr id="generic-row2">
						<td>1B (One Mark One Word)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ1b" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>
						</td>
					</tr>
					<tr id="generic-row3">
						<td>2 (Two Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ2" type="number" min="0" max="100" step="1" name="noOfQ2" value=0>
						</td>
					</tr>
					<tr id="generic-row4">
						<td>3 (Three Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ3" type="number" min="0" max="100" step="1" name="noOfQ3" value=0>
						</td>
					</tr>
					<tr id="generic-row5">
						<td>4 (Four Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ4" type="number" min="0" max="100" step="1" name="noOfQ4" value=0>
						</td>
					</tr>
					<tr id="generic-row6">
						<td>5 (Five Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ5" type="number" min="0" max="100" step="1" name="noOfQ5" value=0>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div id="random-setting" class="ui selection dropdown">
			<input name="random-setting" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select Shuffling Order</div>
			<div class="menu">
				<div class="item" data-value="random">Random</div>
				<div class="item" data-value="segregated">Segregated</div>
			</div>
		</div>
	</div>
	<div id="customized-div" style="display: none;">
    <div id="customized-board" class="ui selection dropdown board show-display">
      <input name="board" type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select board</div>
      <div class="menu">
        {% for element in data %}
        <div class="item" data-value="{{element}}">{{element}}</div>
        {% endfor %}
      </div>
    </div>
    <br>
    <div id="customized-grade" class="ui selection dropdown grade hide-display">
      <input name="grade" type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select grade</div>
      <div id="customized-grade-options-parent" class="menu">
      </div>
    </div>
    <br>
    <div id="customized-subject" class="ui selection dropdown subject hide-display">
      <input name="subject" type="hidden">
      <i class="dropdown icon"></i>
      <div class="default text">Select subject</div>
      <div id="customized-subject-options-parent" class="menu">
      </div>
    </div>
    <br>
		<div id="fileinput"><input type="file" name="datafile" accept=".xlx,.xlsx" id="realfile"/></div>
		<button id="upload">Upload</button>
		<br>
		<div id="stud_name" class="ui fluid multiple search selection dropdown">
			<input name="stud_name" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select Student Names to Exclude</div>
			<div id="stud_name-options-parent" class="menu"></div>
		</div>
		<br>
		<div id="customized-chapter" class="ui fluid multiple search selection dropdown chapter hide-display">
			<input name="chapter" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select Chapters to Exclude</div>
			<div id="customized-chapter-options-parent" class="menu">
			</div>
		</div>
		<br>
		<div id="customized-qtype" class="ui fluid multiple search selection dropdown qtype hide-display">
			<table class="ui celled table">
				<thead>
					<tr><th>Type of Question</th>
						<th>Number of Questions</th>
					</tr></thead>
					<tbody>
						<tr>
							<td>1A (One Mark Textual)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ1a" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>
							</td>
						</tr>
						<tr>
							<td>1B (One Mark One Word)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ1b" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>
							</td>
						</tr>
						<tr>
							<td>2 (Two Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ2" type="number" min="0" max="100" step="1" name="noOfQ2" value=0>
							</td>
						</tr>
						<tr>
							<td>3 (Three Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ3" type="number" min="0" max="100" step="1" name="noOfQ3" value=0>
							</td>
						</tr>
						<tr>
							<td>4 (Four Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ4" type="number" min="0" max="100" step="1" name="noOfQ4" value=0>
							</td>
						</tr>
						<tr>
							<td>5 (Five Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ5" type="number" min="0" max="100" step="1" name="noOfQ5" value=0>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
		</div>
		<br>
		<button id="submit">DOWNLOAD</button>
			{% endblock %}
