{% extends "layout.html" %}

{% block title %}
Student View
{% endblock %}
{% block student_view %}
<!-- Select worksheet type -->
<div id="worksheetType" class="ui selection dropdown">
	<input name="worksheetType" type="hidden">
	<i class="dropdown icon"></i>
	<div class="default text">Select Worksheet Type</div>
	<div class="menu">
		<div class="item" data-value="test">Test Paper</div>
		<div class="item" data-value="generic">Generic Worksheet</div>
		<div class="item" data-value="customized">Customized Worksheet</div>
	</div>
</div>
<br>

<div id="test-div" style="display: none;">
	<div id="test-subject" class="ui selection dropdown subject show-display">
		<input name="subject" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select Subject</div>
		<div class="menu">
			{% for element in data %}
			<div class="item" data-value="{{element}}">{{element}}</div>
			{% endfor %}
		</div>
	</div>
	<br>
	<div id="test-chapter" class="ui fluid multiple search selection dropdown chapter hide-display">
		<input name="chapter" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select chapter</div>
		<div id="test-chapter-options-parent" class="menu">
		</div>
	</div>
</div>

<div id="generic-div" style="display: none;">
	<div id="generic-subject" class="ui selection dropdown subject show-display">
		<input name="subject" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select Subject</div>
		<div class="menu">
			{% for element in data %}
			<div class="item" data-value="{{element}}">{{element}}</div>
			{% endfor %}
		</div>
	</div>
	<br>
	<div id="generic-chapter" class="ui fluid multiple search selection dropdown chapter hide-display">
		<input name="chapter" type="hidden">
		<i class="dropdown icon"></i>
		<div class="default text">Select chapter</div>
		<div id="generic-chapter-options-parent" class="menu">
		</div>
	</div>
	<br>
	<div id="generic-qtype" class="ui fluid multiple search selection dropdown qtype hide-display">
		<table class="ui celled table">
			<thead>
				<tr><th>Type of Question</th>
					<th>Number of Questions</th>
				</tr></thead>
				<tbody>
					<tr>
						<td>1A (One Mark Textual)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ1a" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>		
						</td>
					</tr>
					<tr>
						<td>1B (One Mark One Word)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ1b" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>
						</td>
					</tr>
					<tr>
						<td>2 (Two Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ2" type="number" min="0" max="100" step="1" name="noOfQ2" value=0>
						</td>
					</tr>
					<tr>
						<td>3 (Three Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ3" type="number" min="0" max="100" step="1" name="noOfQ3" value=0>
						</td>
					</tr>
					<tr>
						<td>4 (Four Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ4" type="number" min="0" max="100" step="1" name="noOfQ4" value=0>
						</td>
					</tr>
					<tr>
						<td>5 (Five Marks)</td>
						<td>
							<input class="no_of_questions" id="generic-noOfQ5" type="number" min="0" max="100" step="1" name="noOfQ5" value=0>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<br>
		<div id="random-setting" class="ui selection dropdown">
			<input name="random-setting" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select Shuffling Order</div>
			<div class="menu">
				<div class="item" data-value="random">Random</div>
				<div class="item" data-value="segregated">Segregated</div>
			</div>
		</div>
	</div>
	<div id="customized-div" style="display: none;">
		<div id="customized-subject" class="ui selection dropdown subject show-display">
			<input name="subject" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select Subject</div>
			<div class="menu">
				{% for element in data %}
				<div class="item" data-value="{{element}}">{{element}}</div>
				{% endfor %}
			</div>
		</div>
		<br>
		<form method="POST" enctype="multipart/form-data" class="ui form" id="upload_form">
			{% csrf_token %}
		<div id="fileinput"><input type="file" name="datafile" accept=".xlx,.xlsx"></div>
		<button id="upload">Upload</button>
		</form>
		<br>
		<div id="stud_name" class="ui fluid multiple search selection dropdown">
			<input name="stud_name" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select Student Name</div>
			<div class="menu">
				<div class="item" data-value="Sandhya">Sandhya</div>
				<div class="item" data-value="Ishani">Ishani</div>
				<div class="item" data-value="Akshay">Akshay</div>
				<div class="item" data-value="Naven">Naven</div>
			</div>
		</div>
		<br>
		<div id="customized-chapter" class="ui fluid multiple search selection dropdown chapter hide-display">
			<input name="chapter" type="hidden">
			<i class="dropdown icon"></i>
			<div class="default text">Select chapter</div>
			<div id="customized-chapter-options-parent" class="menu">
			</div>
		</div>
		<br>
		<div id="customized-qtype" class="ui fluid multiple search selection dropdown qtype hide-display">
			<table class="ui celled table">
				<thead>
					<tr><th>Type of Question</th>
						<th>Number of Questions</th>
					</tr></thead>
					<tbody>
						<tr>
							<td>1A (One Mark Textual)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ1a" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>		
							</td>
						</tr>
						<tr>
							<td>1B (One Mark One Word)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ1b" type="number" min="0" max="100" step="1" name="noOfQ1" value=0>
							</td>
						</tr>
						<tr>
							<td>2 (Two Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ2" type="number" min="0" max="100" step="1" name="noOfQ2" value=0>
							</td>
						</tr>
						<tr>
							<td>3 (Three Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ3" type="number" min="0" max="100" step="1" name="noOfQ3" value=0>
							</td>
						</tr>
						<tr>
							<td>4 (Four Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ4" type="number" min="0" max="100" step="1" name="noOfQ4" value=0>
							</td>
						</tr>
						<tr>
							<td>5 (Five Marks)</td>
							<td>
								<input class="no_of_questions" id="customized-noOfQ5" type="number" min="0" max="100" step="1" name="noOfQ5" value=0>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<br>
		</div>
		<br>
		<button id="submit">DOWNLOAD</submit>
			{% endblock %}
			